.gallery img{
    width: 70%;
    height: auto;

  border: 1px solid black;
  outline-style: solid;
  outline-color: rgb(192, 58, 58);
  outline-width: medium;
}

p{
    color:Tomato;
    font-family: 'Times New Roman', Times, serif;
}

h1{
    color:tomato;
}

h4{
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    font-style: italic;
}

#menu{
    width: 100%;
    height: 40px;
    background-color: rgb(233, 120, 100);
    padding-top: 12px;
}

#menu a{
    color: black;
    font-family: 'Times New Roman', Times, serif;
    text-decoration: none;
    font-size: 18px;
    font-weight: 700;
    padding-left: 20px;
    padding-right: 20px;
}

#menu a:hover{
    color: aliceblue;
}